.new{
    color:black;
    height:95vh;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.new h1{
    font-size:60px;
    font-weight: bold;
    margin:10px 0;
    font-family: "Forte";
}

.new a{
    color:black;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:none;
    margin:10px;
}

.new li{
    display:inline;
    margin-right:1vw;
}

.new blockquote{
    font-family: "Bahnschrift SemiCondensed";
    font-size:20px;
    align-items: center;
    justify-content: center;
    margin: 20px;
}   

.new a:hover {
    text-decoration: underline;
}

header {
    height:80px;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}

header h1{
    font-size:45px;
    margin:10px 0;
    font-family: "Forte";
}

header li{
    display:inline;
    margin-right:1vw;
}

header a{
    color:black;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:none;
    margin:10px;
}

header a:hover {
    text-decoration: underline;
}

.choropleth{
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.choropleth h2{
    font-size: 20px;
    margin:0 0 20px 0;
    font-family: "Comic Sans MS";
}
main {
    text-align: center; /* Center the content within the main element */
}

.content p{
    font-size:18px;
    font-family: "Bahnschrift SemiCondensed";
    align-items: center;
    justify-content: center;
    line-height: 1.5em;
    padding-left: 50px;
    padding-right: 50px;
}

.brown {
    color:rgb(241, 157, 12);
}

.blue {
    color:blue;
}

.red {
    color:red;
}

.yellow {
    color:rgb(194, 194, 22);
}

.purple {
    color:purple;
}

header, section, footer {
    background-color: #d6ccc2;
    padding: 30px;
}

* {
    margin:2px;
    padding:0;
}
